html, body, .container-fluid, .row, .map { height: 100% }

#map{
	width:100%;
  height: 100%;
 	height:calc(100% - 0px);
}

div.cusine {
  margin-top: -8vh;
  z-index: 1;
  position: relative;
}

#list {
  background-color: #1b1b1b;
  height: 100vh;
}

span {
  color: white;
}

.btn {
  background-color: #1b1b1b;
  color: white;
}


li {
  color: white;
}

ul {
  padding-top: 2em;
}
